<UserScriptConfig>
	<Script author="Reek | reeksite.com" basedir="Anti-Adblock_Killer_Reek" checkRemoteUpdates="1" dependhash="7ecfbee51d3094add21c71ab714cdeb469a482e3" description="Helps you keep your Ad-Blocker active, when you visit a website and it asks you to disable." enabled="true" filename="Anti-Adblock_Killer_%7C_Reek.user.js" installTime="1487745646000" modified="1487745646000" name="Anti-Adblock Killer | Reek" namespace="https://userscripts.org/scripts/show/155840" noframes="false" runAt="document-start" updateMetaStatus="unknown" uuid="f4f0d294-b93e-44f3-96c4-b5e551e3481b" version="10.0" installurl="https://greasyfork.org/scripts/735-anti-adblock-killer-reek/code/Anti-Adblock%20Killer%20%7C%20Reek.user.js" updateurl="https://greasyfork.org/scripts/735-anti-adblock-killer-reek/code/Anti-Adblock%20Killer%20%7C%20Reek.user.js" icon="anti-adblock-killer-icon.png">
		<Grant>unsafeWindow</Grant>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>GM_registerMenuCommand</Grant>
		<Grant>GM_deleteValue</Grant>
		<Grant>GM_listValues</Grant>
		<Grant>GM_getResourceText</Grant>
		<Grant>GM_getResourceURL</Grant>
		<Grant>GM_log</Grant>
		<Grant>GM_openInTab</Grant>
		<Grant>GM_setClipboard</Grant>
		<Grant>GM_info</Grant>
		<Grant>GM_getMetadata</Grant>
		<Include>http://*/*</Include>
		<Include>https://*/*</Include>
	</Script>
	<Script basedir="Google_Drive_Video_Player_for_CyTube" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Play Google Drive videos on CyTube" enabled="true" filename="cytube-google-drive.user.js" installTime="1487745646000" modified="1487745646000" name="Google Drive Video Player for CyTube" namespace="gdcytube" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="12dba897-6166-4802-afc5-9a36bc403b63" version="1.3.0" installurl="http://cytu.be/js/cytube-google-drive.user.js" updateurl="http://cytu.be/js/cytube-google-drive.user.js">
		<Grant>unsafeWindow</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>http://cytu.be/r/*</Include>
		<Include>https://cytu.be/r/*</Include>
		<Include>http://www.cytu.be/r/*</Include>
		<Include>https://www.cytu.be/r/*</Include>
	</Script>
</UserScriptConfig>